{% extends 'base.html.twig' %}

{% block title %}AbatJour{% endblock %}

{% block body %}
    <h1>AbatJour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abat_jour.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ abat_jour.Titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ abat_jour.Description }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ abat_jour.Couleur }}</td>
            </tr>
            <tr>
                <th>Matiere</th>
                <td>{{ abat_jour.Matiere }}</td>
            </tr>
            <tr>
                <th>Forme</th>
                <td>{{ abat_jour.Forme }}</td>
            </tr>
            <tr>
                <th>Dimensions</th>
                <td>{{ abat_jour.Dimensions }}</td>
            </tr>
            <tr>
                <th>CodeBarre</th>
                <td>{{ abat_jour.CodeBarre }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_abat_jour_index') }}">Retour à la liste</a>

    <a class="btn btn-primary" href="{{ path('app_abat_jour_edit', {'id': abat_jour.id}) }}">Éditer</a>

    {{ include('abat_jour/_delete_form.html.twig') }}
{% endblock %}
